<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <tittle>Animation Text</tittle>
        <link rel="stylesheet" href="/stylesheets/text-animation.css">
    </head>
    <body>

        <div class="container">
            <span class="text1">W E L C O M E</span>
            <span class="text2">WIDI CITRA RESMI</span>
            <span class="text3">H A P P Y  B I R T H D A Y</span>
            <span class="text4">Semoga panjang umur...</span>
            <span class="text5">sehat selalu...</span>
            <span class="text6">dilancarin terus rejekinya</span>
            <span class="text7">Semoga yang dicita-citakan tercapai</span>
        </div>
        
    </body>

</html>